.Home {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
}
.pageheader {
  height: 70px;
  padding-top: var(--nav-height);
  background-color: #242424;
}
.pageheader .header_box {
  max-width: var(--body-min-width);
  height: 100%;
  padding: 0 40px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pageheader .header_title {
  font-size: 28px;
  color: #fff;
  padding-right: 50px;
  overflow: hidden;
}
.subpage_container {
  min-height: auto;
}
.subpage_container {
  box-sizing: border-box;
  width: var(--body-min-width);
  min-height: calc(100vh - var(--nav-height) * 2);
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
.subpage_container .section_title {
  padding: var(--title-padding);
  font-size: 56px;
  font-weight: bold;
}
.subpage_container .subtitle {
  display: flex;
  justify-content: center;
}
.subpage_container .main_content {
  font-size: 30px;
  text-align: center;
  line-height: 1.5;
  padding: 138px 0;
}
.subpage_container .section_img {
  vertical-align: top;
  max-width: 100%;
}
.subpage_container p {
  font-size: 22px;
  color: black;
}
.content1 .content_text {
  box-sizing: border-box;
  display: inline-block;
  width: 720px;
  padding-left: 50px;
  line-height: 1.7;
}
.content2 .content_text {
  box-sizing: border-box;
  display: inline-block;
  width: 720px;
  padding-right: 50px;
  line-height: 1.7;
}
.subpage_container .content1,
.subpage_container .content2 {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-width: 100%;
  padding-bottom: 100px;
}
.about1 {
  width: 580px;
  height: 280px;
  margin-right: 20px;
}
.nav_holder {
  position: relative;
  z-index: 15;
  width: 100%;
}
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.btn_go_top {
  position: absolute;
  right: 3%;
  bottom: 0;
  display: block;
  width: 50px;
  height: 50px;
  background-color: #6b6b6b85;
  z-index: 10;
  overflow: hidden;
  transform: translateY(-20px);
}
.btn_go_top_holder {
  position: sticky;
  right: 0;
  bottom: 20px;
  height: 0;
  z-index: 5;
}
.go_top_wrapper {
  background-color: white;
  position: relative;
  z-index: 5;
  width: 100%;
}
.imgbtn {
  height: 100%;
  width: 100%;
}

@media (max-width: 870px) {
  .slider {
    height: 100vh;
    transition: height 0.25s;
  }
  .subpage_container {
    padding: 0 20px;
  }
  .subpage_container img {
    width: 100%;
  }
  .subpage_container .section_title {
    font-size: 30px;
  }
  .subpage_container .content2 > .content_text {
    order: 2;
  }

  .subpage_container .content1,
  .subpage_container .content2 {
    flex-direction: column;
    padding-bottom: 20px;
  }
  .subpage_container .content_text {
    width: auto;
    text-align: center;
    padding: 35px 0;
    font-size: 14px;
  }
}
@media (max-width: 1500px) {
  .subpage_container {
    padding: 0 40px;
  }
}
