.Home {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
}

.nav_holder {
  position: relative;
  z-index: 15;
  width: 100%;
}
.container {
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.slider {
  min-width: var(--body-min-width);
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.swiper_slide {
  height: 100%;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.103);
  width: 100%;
  display: flex !important;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: 100px;
}
.swiper_slide_image {
  width: 100%;
  height: 100vh;
  display: flex;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  /* object-fit: cover; */
}

.swiper_slide_body {
  position: relative;
  z-index: 10;
  transform: translateZ(1px);
}
.swiper_slide_body .game_img {
  opacity: 0;
  transform: translate(0);
  transition-delay: 0.3s !important;
  transition: all 1.5s;
}

.swiper_slide_body .game_img > :nth-child(1) {
  opacity: 1;
  transform: translate(0);
  transition-delay: 0.3s !important;
}

.swiper_slide_body_game_Txt {
  font-size: 200px;
  color: #ff002a;
  display: block;
  padding: 125px;
  white-space: nowrap;
}

.swiper_slide_body_btns {
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition-delay: 1.3s !important;
}

.swiper_btn_banner {
  display: inline-flex;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  width: 270px;
  height: 74px;
  color: #fff;
  font-size: 22px;
  border: 3px solid #fff;
  cursor: pointer;
  text-align: center;
  margin: 0 10px;
  justify-content: center;
  align-items: center;
}
.swiper_btn_banner span {
  z-index: 10;
  color: #fff;
}

.swiper_btn_Transparent {
  width: 500px;
  height: 500px;
}
.swiper_btn_banner::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #ff002a;
  transform: translate(-100%);
  transition: all 0.45s;
}
.swiper_btn_banner:hover:after {
  transform: translate(0);
}

.section_screenshot {
  display: flex;
  position: relative;
  background-color: #fff;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}
.section_item {
  display: flex;
  width: 100%;
  height: 500px;
  overflow: hidden;
  flex-direction: row;
}

/* 짝수번째 */
.section_item_even {
  margin-right: auto;
  display: flex;
  padding-left: 10%;
  left: 0;
  justify-content: flex-start !important;
}
/* 홀수번째 */
.section_item_odd {
  margin-left: auto;
  display: flex;
  padding-right: 10%;
  justify-content: center;
}

.section_item_even img {
  width: 620px;
  height: 100%;
  padding: 0px 50px;
  object-fit: contain;
}
.section_item_odd img {
  width: 620px;
  height: 100%;
  padding: 0px 50px;
  object-fit: contain;
}
.section_item_txt {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 24px;
  color: black;
  width: auto;
  height: 100%;
}
.footer {
  height: 50px;
  background-color: hotpink;
}

h1 {
  margin: 0;
}

.swiper {
  height: 100vh;
  width: 100%;
}

.btn_go_top {
  position: absolute;
  right: 3%;
  bottom: 0;
  display: block;
  width: 50px;
  height: 50px;
  background-color: #6b6b6b85;
  z-index: 10;
  overflow: hidden;
  transform: translateY(-20px);
}
.btn_go_top_holder {
  position: sticky;
  right: 0;
  bottom: 20px;
  height: 0;
  z-index: 5;
}
.go_top_wrapper {
  background-color: white;
  position: relative;
  z-index: 5;
  width: 100%;
  padding-top: 100px;
}
.imgbtn {
  height: 100%;
  width: 100%;
}

.subpage_container {
  background-color: white;
  min-height: auto;
}
.subpage_container {
  box-sizing: border-box;
  width: var(--body-min-width);
  min-height: calc(100vh - var(--nav-height) * 2);
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
.subpage_container .section_title {
  padding: var(--title-padding);
  font-size: 56px;
  font-weight: bold;
}
.subpage_container .main_content {
  font-size: 30px;
  text-align: center;
  line-height: 1.5;
  padding: 138px 0;
}
.subpage_container .section_img {
  vertical-align: top;
  max-width: 100%;
}
.subpage_container p {
  font-size: 22px;
  color: black;
}
.content1 .content_text {
  box-sizing: border-box;
  display: inline-block;
  width: 720px;
  padding-left: 50px;
  line-height: 1.7;
}
.content2 .content_text {
  box-sizing: border-box;
  display: inline-block;
  width: 720px;
  padding-right: 50px;
  line-height: 1.7;
}
.subpage_container .content1,
.subpage_container .content2 {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-width: 100%;
  padding-bottom: 100px;
}

.about1 {
  width: 580px;
  height: 280px;
  margin-right: 20px;
}
@media (max-width: 870px) {
  .slider {
    height: 100vh;
    transition: height 0.25s;
  }

  .subpage_container {
    padding: 0 20px;
  }
  .subpage_container img {
    width: 100%;
  }
  .subpage_container .section_title {
    font-size: 30px;
  }
  .subpage_container .content2 > .content_text {
    order: 2;
  }

  .subpage_container .content1,
  .subpage_container .content2 {
    flex-direction: column;
    padding-bottom: 20px;
  }
  .subpage_container .content_text {
    width: auto;
    text-align: center;
    padding: 35px 0;
    font-size: 14px;
  }
}
