.Home {
  background-color: coral;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
}
.header {
  background-color: aqua;
  justify-content: center;
  height: 100px;
}

.container {
  background-color: darkslategray;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}
.footer {
  height: 50px;
  background-color: hotpink;
}

h1 {
  margin: 0;
}

.swiper {
  height: 50%;
  width: 100%;
}
.imgbtn {
  height: 100%;
  width: 100%;
}
